.dashlet {
  border: 1px solid #d5d5d5;
  width: 100%;
  min-height: 300px;
}

.dashlethead {
  display: inline-flex;
  margin: 16px;
  font-weight: bold;
  font-size: 18px;
}

.dashletchart {
  /*line-height: 300px;*/
  text-align: center;
}

.vert-spacer {
  line-height: 10px;
}

.stackchartselector {
  float: right;
  position: relative;
  z-index: 10;
  margin-top: -20px;
  padding-right: 20px;
}

.stackchartselector .btn-default:hover,
.stackchartselector .btn-default.active {
  background-color: #523e71;
  border-color: #523d60;
  color: white;
}
